body > *{
    margin: 0;
}
.parent{
    background: linear-gradient(orange, magenta);
    height: 200px;
    width: 200px;
    padding: 70px;
    overflow: hidden;
}
#info{
    color:white;

}

#circle1{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: white;
    opacity: 50%;
    margin-top: -50px;
    position: relative;
    right: 50px;
    left: 50px;
}

#circle2{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: black;
    opacity: 50%;
    bottom: 50px;
    margin: -100px;
}